{% extends 'base.html'%}
{% load static %}


{% block title %}  فروشگاه{% endblock %}


{% block navbar %}
{% include 'inc/navbar.html' %}

{% endblock %}
{% block Modal %}
   

 
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}



 {% block Hero %}

 {% for product in products %}

    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                       
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{product.image.url}}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <a href="{% url 'shop:product_detail' product.slug %}">
                                <h3 class="h2">{{product.name}}</h3>

                                <p>
                                    {{product.description|truncatewords:10}}
                                </p>
                            </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           
            
                
        </div>
        {% endfor %}
        {% if products.has_other_pages %}
        {% if products.has_previous %}

        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="?page={{ products.previous_page_number }}" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>

        {% else %}

        {% endif %}
        {% if products.has_next %}

        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="?page={{ products.next_page_number }}" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
        {% else %}

        {% endif %}
        {% endif %}
    </div>
  



  
    {% if products.has_other_pages %}
    <div style="text-align: center;">
<ul class="ul-1">

  {% if products.has_previous %}
 
<li data-bs-target="#template-mo-zay-hero-carousel"  class="li-1"><a href="?page={{ products.previous_page_number }}" >&laquo;</a></li>

  {% else %}
    <li class="li-1"><span>&laquo;</span></li>
  {% endif %}


  {% for i in products.paginator.page_range %}
    {% if products.number == i %}
      <li class="li-1"><span>{{ i }} <span class="sr-only"></span></span></li>
    {% else %}
      <li class="li-1"><a href="?page={{ i }}" >{{ i }}</a></li>
    {% endif %}
  {% endfor %}

  {% if products.has_next %}
    <li class="li-1"><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="li-1"><span>&raquo;</span></li>
  {% endif %}
</ul>


</div>
<br>
<br>

{% endif %}
    

    {% endblock %}



  {% block categories %}
    <section class="container py-5">

        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">دسته بندی محصولات</h1>
                <p>
                  
                </p>
            </div>
        </div>

        <div class="row">
            {% for category in categories %}

            <div class="col col-6 p-5 mt-3">
                <a href="{% url 'shop:category_list' category.id %}"> 
                                   <h5 class="text-center mt-3 mb-3">{{category.name}}</h5>
                </a>
            </div>
            {% endfor %}

           
        </div>

    </section>
    {% endblock %}


{% block content %}


    {% endblock %}
