{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        {% endblock %}
    
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<!--
    


-->
</head>
<body>
    {% include 'inc/messages.html' %}
    <!-- Start Top Nav -->
    <!-- Close Top Nav -->
  {% block navbar %}
  {% endblock %}
    <!-- Header -->
    
    <!-- Close Header -->

    <!-- Modal -->
    {% block Modal %}
    {% endblock %}
    <!-- End Modal -->

    <!-- Start Banner Hero -->
    {% block Hero %}
    {% endblock %}
    <!-- End Banner Hero -->



    <!-- Start Categories of The Month -->
    {% block categories %}
    {% endblock %}
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    {% block Products %}
    {% endblock %}
    <!-- End Featured Product -->

   
    {% block content %}
    {% endblock %}

    <!-- Start Footer -->
    {% block footer %}
    {% endblock %}

    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>